.works_bg-project-ProdottiFurniture {
    background: url('../../img/works/prodotti/banner.jpg');
}

.works_bg-project-SamsaraResort {
    background: url('../../img/works/samsara/banner.jpg');
}

.works_bg-project-JannataResort {
    background: url('../../img/works/jannata/banner.jpg');
}

.works_bg-project-TheRelationshift {
    background: url('../../img/works/relationshift/banner.jpg');
}

.works_bg-project-ClorovaProduction {
    background: url('../../img/works/clorova/banner.jpg');
}

.works_bg-project-Kokoro {
    background: url('../../img/works/kokoro/banner.jpg');
}

.works_bg-project-ApprenticeSearch {
    background: url('../../img/works/apprentice-search/banner.jpg');
}

.works_bg-project-MCD {
    background: url('../../img/works/mcd/banner.jpg');
}