/* -------Jannata Resort project images------- */

.project_intro-bg_jannataResort {
    background: url('../../img/works/jannata/banner.jpg');
}

.project_bigImage-image_jannataResort {
    background: url('../../img/works/jannata/full1.jpg');
}

.project_prev-SamsaraResort {
    background: url('../../img/works/samsara/banner.jpg');
}

.project_next-theRelationshift {
    background: url('../../img/works/relationshift/banner.jpg');
}