.project_intro-bg_prodottiFurniture {
    background: url('../../img/works/prodotti/banner.jpg');
}

.project_bigImage-image_prodottiFurniture {
    background: url('../../img/works/prodotti/full1.jpg');
}


/* ------- Next project ------- */
.project-SamsaraResort {
    background: url('../../img/works/samsara/banner.jpg');
}