/* -------Prodotti Furniture project images------- */
.project_intro-bg_prodottiFurniture {
    background: url('../../img/works/prodotti/banner.jpg');
}

.project_bigImage-image_prodottiFurniture {
    background: url('../../img/works/prodotti/full1.jpg');
}


/* -------Samsara Resort project images------- */

.project_intro-bg_samsaraResort {
    background: url('../../img/works/samsara/banner.jpg');
}


/* -------Jannata Resort project images------- */

.project_intro-bg_jannataResort {
    background: url('../../img/works/jannata/banner.jpg');
}

.project_bigImage-image_jannataResort {
    background: url('../../img/works/jannata/full1.jpg');
}


/* -------The Relationshift project images------- */

.project_intro-bg_theRelationshift {
    background: url('../../img/works/relationshift/banner.jpg');
}

.project_bigImage-image_theRelationshift {
    background: url('../../img/works/relationshift/full1.jpg');
}


/* -------Clorova Production project images------- */

.project_intro-bg_clorovaProduction {
    background: url('../../img/works/clorova/banner.jpg');
}

.project_bigImage-image_clorovaProduction {
    background: url('../../img/works/clorova/full1.jpg');
}

/* -------Kokoro project images------- */

.project_intro-bg_kokoro {
    background: url('../../img/works/kokoro/banner.jpg');
}

.project_bigImage-image_kokoro1 {
    background: url('../../img/works/kokoro/full1.jpg');
}

.project_bigImage-image_kokoro2 {
    background: url('../../img/works/kokoro/full2.jpg');
}

/* -------Apprentice Search project images------- */

.project_intro-bg_apprenticeSearch {
    background: url('../../img/works/apprentice-search/banner.jpg');
}

.project_bigImage-image_apprenticeSearch {
    background: url('../../img/works/apprentice-search/full1.jpg');
}

/* -------McDonald's Manila project images------- */

.project_intro-bg_mcd {
    background: url('../../img/works/mcd/banner.jpg');
}

.project_bigImage-image_mcd1 {
    background: url('../../img/works/mcd/full1.jpg');
}

.project_bigImage-image_mcd2 {
    background: url('../../img/works/mcd/full2.jpg');
}





/* ------- Previous Next project ------- */
.project-prodittiFurniture {
    background: url('../../img/works/prodotti/banner.jpg');
}

.project-samsaraResort {
    background: url('../../img/works/samsara/banner.jpg');
}

.project-jannataResort {
    background: url('../../img/works/jannata/banner.jpg');
}

.project-theRelationshift {
    background: url('../../img/works/relationshift/banner.jpg');
}

.project-clorovaProduction {
    background: url('../../img/works/clorova/banner.jpg');
}

.project-kokoro {
    background: url('../../img/works/kokoro/banner.jpg');
}

.project-apprenticeSearch {
    background: url('../../img/works/apprentice-search/banner.jpg');
}

.project-mcd {
    background: url('../../img/works/mcd/banner.jpg');
}